<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB Sentiment Analysis</title>
    <style>
        body{
            background-color: #0c0c0c;
            color: rgb(238, 238, 238)
        }
        center span{
            font-size: 30px;
        }
    </style>
</head>
<body>
    <div>
        <br><br><br>
        <center>
            <h3>WELCOME TO</h3>
            <span><b><i>IMDB</i></b> Sentiment Analysis</span>
        </center>
    </div>
</body>
</html>