{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ data.title }}: IMDB</title>
	<link rel="stylesheet" href="{% static '/imdb/css/details.css' %}">
</head>

<body>
<!-- Movie Details Section -->
<div class="album-container">
	<div class="album-layer">
		<img src="{{ data.poster }}" alt=" {{ data.title }}">
	</div>
	<div class="album-flex">
		<div class="poster">
			<div class="poster-in"><img src="{{ data.poster }}" alt="{{ data.title }}" ></div>
		</div>
		<div class="movie-details">
			<a href="/imdb/index">
				<div class="home-link" title="HOME"></div>
			</a>
			<div class="detail-text">
				<div class="detail-text-title">{{ data.title }}</div><br>
				<div class="other-details"><span><b>Year :</b></span> <i> {{ data.year }} </i></div><br>
				<div class="other-details"><span><b>Length :</b></span> <i> {{ data.length }} </i></div><br>
				<div class="other-details">
					<span><b>Rating :</b></span> 
					<img src=" {% static 'imdb/img/.ico/star.png' %}" style="height: 16px; position: relative; top: 3px;" alt="">
					<i> {{ data.rating }} </i></div><br>
				<div class="other-details" style="padding-bottom: 5px; font-family: arial,sans-serif;">
					<span><b>Plot : <br></b></span>
					{{ data.plot }}
				</div><br>
			</div> 
			<div class="scroll-down">
				<a href="#comments">
				<div class="scroll-ico">
					<img src="{% static 'imdb/img/.ico/scroll_64px.png' %}" width="100%" height="100%" alt="">
				</div></a><br>
				<span><i>See Reviews Below</i></span>
			</div>
		</div>
	</div>
</div>
<!-- End of Movie details -->

<!-- User Review Section -->
<div class="body">
	<div class="body-top">
		{{ data.title }}<code>(User Reviews)</code>
		<img src="{% static 'imdb/img/.ico/feedback.png' %}" width="28px"  style="position: relative; top: 4px;" alt="">
	</div>
	<a name="comments"></a>
	<div class="user-reviews">
		<div class="reviews">
			<!-- FOR THE ADD REVIEW BUTTON -->
			<div class ="db-reviews add-review">
				<div class="add-review-ico">
					<img src="{% static 'imdb/img/.ico/add_64px.png' %}" alt="add comments" height="100%" width="100%">
				</div>
				<div class="add-review-text">
					<i>Add and Analyse a review</i>
				</div>
			</div>
			<!-- END -->
			<!-- APPENDED REVIEWS -->
			<!-- actual review will look like this  -->
			<div class="sentiment">
				<div class="sentiment-top">
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/worst_32px.png' %}" title="Worst" alt="worst" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/bad_32px.png' %}" title="Bad" alt="bad" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/average_32px.png' %}" title="Average" alt="average" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/good_32px.png' %}" title="Good" alt="good" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/excellent_32px.png' %}" title="Excellent" alt="excellent" width="100%" height="100%">
          </div>
				</div>
				<div class="sentiment-content">
					<div class="sentiment-visualiser">
						<div class="visualiser-out">
							<div class="circle">                             
							  <div class="mask full">
								<div class="fill"></div>
							  </div>                            
							  <div class="mask half">
								<div class="fill"></div>
							  </div>                              
							  <div class="visualiser-in">
								70%
							  </div>
							  
							</div>
						</div>
					</div>
					<div class="sentiment-review">
						<u><i><b>Review</b></i></u>
						<blockquote>
							Film criticism is the analysis and evaluation of films and the film medium. 
							The concept is often used interchangeably with that of film reviews. 
							A film review implies a recommendation aimed at consumers, however not all 
							film criticism takes the form of reviews.
						</blockquote>
					</div>
				</div>
			</div>
			<div class="sentiment">
				<div class="sentiment-top">
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/worst_32px.png' %}" title="Worst" alt="worst" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/bad_32px.png' %}" title="Bad" alt="bad" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/average_32px.png' %}" title="Average" alt="average" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/good_32px.png' %}" title="Good" alt="good" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/excellent_32px.png' %}" title="Excellent" alt="excellent" width="100%" height="100%">
          </div>
				</div>
				<div class="sentiment-content">
					<div class="sentiment-visualiser">
						<div class="visualiser-out">
							<div class="circle">                             
							  <div class="mask full">
								<div class="fill"></div>
							  </div>                            
							  <div class="mask half">
								<div class="fill"></div>
							  </div>                              
							  <div class="visualiser-in">
								70%
							  </div>
							  
							</div>
						</div>
					</div>
					<div class="sentiment-review">
						<u><i><b>Review</b></i></u>
						<blockquote>
							Film criticism is the analysis and evaluation of films and the film medium. 
							The concept is often used interchangeably with that of film reviews. 
							A film review implies a recommendation aimed at consumers, however not all 
							film criticism takes the form of reviews.
						</blockquote>
					</div>
				</div>
			</div>
			<div class="sentiment">
				<div class="sentiment-top">
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/worst_32px.png' %}" title="Worst" alt="worst" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/bad_32px.png' %}" title="Bad" alt="bad" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/average_32px.png' %}" title="Average" alt="average" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/good_32px.png' %}" title="Good" alt="good" width="100%" height="100%">
          </div>
					<div class="emojis">
            <img src="{% static 'imdb/img/.ico/excellent_32px.png' %}" title="Excellent" alt="excellent" width="100%" height="100%">
          </div>
				</div>
				<div class="sentiment-content">
					<div class="sentiment-visualiser">
						<div class="visualiser-out">
							<div class="circle">                             
							  <div class="mask full">
								<div class="fill"></div>
							  </div>                            
							  <div class="mask half">
								<div class="fill"></div>
							  </div>                              
							  <div class="visualiser-in">
								70%
							  </div>
							  
							</div>
						</div>
					</div>
					<div class="sentiment-review">
						<u><i><b>Review</b></i></u>
						<blockquote>
							Film criticism is the analysis and evaluation of films and the film medium. 
							The concept is often used interchangeably with that of film reviews. 
							A film review implies a recommendation aimed at consumers, however not all 
							film criticism takes the form of reviews.
						</blockquote>
					</div>
				</div>
			</div>
			<!-- END OF REVIEWS -->
		</div>
		<div class="reviews">
			<div class="db-reviews">
				<div class="db-review-text">
					Film criticism is the analysis and evaluation of films and the film medium. 
					The concept is often used interchangeably with that of film reviews. 
					A film review implies a recommendation aimed at consumers, however not all 
					film criticism takes the form of reviews.
				</div>
			</div>
			<div class="db-reviews">
				<div class="db-review-text">
					Film criticism is the analysis and evaluation of films and the film medium. 
					The concept is often used interchangeably with that of film reviews. 
					A film review implies a recommendation aimed at consumers, however not all 
					film criticism takes the form of reviews.
				</div>
			</div>
			<div class="db-reviews">
				<div class="db-review-text">
					Film criticism is the analysis and evaluation of films and the film medium. 
					The concept is often used interchangeably with that of film reviews. 
					A film review implies a recommendation aimed at consumers, however not all 
					film criticism takes the form of reviews.Film criticism is the analysis and evaluation of films and the film medium. 
					The concept is often used interchangeably with that of film reviews. 
					A film review implies a recommendation aimed at consumers, however not all 
					film criticism takes the form of reviews.
				</div>
			</div>
			<div class="db-reviews">
				<div class="db-review-text">
					Film criticism is the analysis and evaluation of films and the film medium. 
					The concept is often used interchangeably with that of film reviews. 
					A film review implies a recommendation aimed at consumers, however not all 
					film criticism takes the form of reviews.
				</div>
			</div>
			<div class="db-reviews">
				<div class="db-review-text">
					Film criticism is the analysis and evaluation of films and the film medium. 
					The concept is often used interchangeably with that of film reviews. 
					A film review implies a recommendation aimed at consumers, however not all 
					film criticism takes the form of reviews.
				</div>
			</div>
		</div>
		<div class="load-more" title="Load More Reviews">
			<img src="{% static 'imdb/img/.ico/expand_64px.png' %}" alt="load more" width="100%" height="100%">
		</div>
	</div>
	<div style="text-align: right; width: 100%;">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>
<!-- End of User section -->

</body>
</html>