{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }}: IMDB</title>
    <link rel="stylesheet" href="{% static '/imdb/css/details.css' %}">

</head>
<body>
    <div class="album-container">
        <div class="album-layer">
            <img src="{{ data.poster }}" alt=" {{ data.title }}">
        </div>
        <div class="album-flex">
            <div class="poster">
                <div class="poster-in">
                    <img src="{{ data.poster }}" alt="{{ data.title }}" >
                </div>
            </div>
            <div class="movie-details">
                <div class="detail-text">
                    <div class="detail-text-title">
                        {{ data.title }}
                    </div>
                    <br>
                    <div class="year"><span><b>Year :</b></span> <i> {{ data.year }} </i></div>

                </div> 
            </div>
        </div>
    </div>
    <div class="body">
        <div class="body-top">
            <span style="color:rgb(240, 100, 7);"><b><i>#</i></b> </span> 
            {{ data.title }}
            ( <code>User Reviews</code> )
        </div>
    </div>
</body>
</html>